<% if current_user %>
  <% if current_user.admin %>
    <%= link_to "Admin page", '/admin/users/new' %>
  <% end %>
<% end %>
<h1>Rotten Mangoes</h1>



<%= form_tag("/movies", method: "get") do %>
  <%= label_tag(:title, "Search by title:") %>
  <%= text_field_tag(:title,) %>
   <%= label_tag(:director, "Search by director:") %>
  <%= text_field_tag(:director) %>
<select name="runtime_in_minutes">
  <option value="89">Under 90 minutes</option> 
  <option value="91">Between 90 and 120 minutes</option>
  <option value="121">Over 120 minutes</option>
</select>
<%= submit_tag("Search") %>
<% end %>

<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<% @movies.each do |movie| %>
<%= image_tag movie.image_url %>
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>
