<h1>Welcome to the admin page</h1><%= link_to "Back to all movies", movies_path %><HR>

<%= paginate @users %>
<% for user in @users  %>

  <p>User: <%= user.firstname %><br>Email:<%= user.email %><br>
  Admin?<% if user.admin %>
         <%= user.admin %>
         <% else %>
         False        
         <% end %>
         <p>
         <%= user.id %>
  </p><%= button_to "delete", admin_user_path(user), :method => :delete %>

<% end %>

<hr>

